<?xml version="1.0"?>
<config>
    <modules>
        <OCM_Advancedstaticleftnav>
            <version>0.1.0</version>
        </OCM_Advancedstaticleftnav>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ocm_advancedstaticleftnav>
                    <file>OCM/advancedstaticleftnav</file>
                </ocm_advancedstaticleftnav>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <advancedstaticleftnav>
                <class>OCM_Advancedstaticleftnav_Helper</class>
            </advancedstaticleftnav>
        </helpers>
        <models>
            <advancedstaticleftnav>
                <class>OCM_Advancedstaticleftnav_Model</class>
                <resourceModel>advancedstaticleftnav_mysql4</resourceModel>
            </advancedstaticleftnav>
            <advancedstaticleftnav_mysql4>
                <class>OCM_Advancedstaticleftnav_Model_Mysql4</class>
                <entities>		  
                    <lntree>
                        <table>ocm_lnav_tree</table>
                    </lntree>		  
                    <lnobject>
                        <table>ocm_lnav_obj</table>
                    </lnobject>
                </entities>
            </advancedstaticleftnav_mysql4>
        </models>
        <blocks>
            <advancedstaticleftnav>
                <class>OCM_Advancedstaticleftnav_Block</class>
            </advancedstaticleftnav>
        </blocks>
        <resources>
            <advancedstaticleftnav_setup>
                <setup>
                    <module>OCM_Advancedstaticleftnav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedstaticleftnav_setup>
            <advancedstaticleftnav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedstaticleftnav_write>
            <advancedstaticleftnav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedstaticleftnav_read>
        </resources>
    </global>
</config> 
