<config>
	<modules>
	    <OCM_Cpcprice>
	        <version>0.1.0</version>
	    </OCM_Cpcprice>
	</modules>
	<global>
	   <models>
	       <ocm_price>
	           <class>OCM_Price_Model</class>
	       </ocm_price>
            <rewards>
            	<rewrite>
            		<catalog_product>OCM_Price_Model_Catalog_Product</catalog_product>
            	</rewrite>
            </rewards>
	   </models>
	   <sales>
            <quote>
                <item>
                    <product_attributes>
                        <cpc_price />
                    </product_attributes>
                </item>
            </quote>
        </sales>
	</global>
	<frontend>
	   <events>
            <catalog_product_get_final_price>
                <observers>
                    <cpc_adjprice>
                        <class>ocm_price/observer</class>
                        <method>adjustFinalPrice</method>
                    </cpc_adjprice>
                </observers>
            </catalog_product_get_final_price>
            <ocm_cpcprice_catalog_product_get_final_price>
                <observers>
                    <cpc_adjprice2>
                        <class>ocm_price/observer</class>
                        <method>adjustFinalPrice</method>
                    </cpc_adjprice2>
                </observers>
            </ocm_cpcprice_catalog_product_get_final_price>
	   </events>
	</frontend>
</config>