<?xml version="1.0"?>
<config>
    <modules>
        <OCM_Catalog>
            <version>0.1.0</version>
        </OCM_Catalog>
    </modules>
    <global>
        <blocks>
            <ocm_catalog>
                <class>OCM_Catalog_Block</class>
            </ocm_catalog>
            <catalog>
                <rewrite>
                    <layer_view>OCM_Catalog_Block_Layer_View</layer_view>
                    <product_view>OCM_Catalog_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <ocm_catalog>
                <class>OCM_Catalog_Model</class>
            </ocm_catalog>
        </models>
        <helpers>
            <ocm_catalog>
                <class>OCM_Catalog_Helper</class>
            </ocm_catalog>
        </helpers>
        <events>
        <catalog_product_save_before>
            <observers>
                <ocm_catalog>
                    <type>singleton</type>
                    <class>OCM_Catalog_Model_Observer</class>
                    <method>catalog_product_save_before</method>
                </ocm_catalog>
            </observers>
        </catalog_product_save_before>
    </events>
    </global>
    <crontab>
    	<jobs>
			<update_cpc_price>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>ocm_catalog/observer::updateNewCPCPrice</model>
				</run>
			</update_cpc_price>
		</jobs>
	</crontab>
</config>
