
<config>
    <modules>
        <SoftwareMedia_EmailHistory>
            <version>0.1.4</version>
        </SoftwareMedia_EmailHistory>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <emailhistory before="Mage_Adminhtml">SoftwareMedia_EmailHistory_Adminhtml</emailhistory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<emailhistory>
					<file>emailhistory.xml</file>
				</emailhistory>
			</updates>
		</layout>
	</adminhtml>
    <global>
    	<blocks>
            <emailhistory>
                <class>SoftwareMedia_EmailHistory_Block</class>
            </emailhistory>
    	</blocks>
      <helpers>
            <emailhistory>
                <class>SoftwareMedia_EmailHistory_Helper</class>
            </emailhistory>
        </helpers>
	   <models>
			<emailhistory>
				<class>SoftwareMedia_EmailHistory_Model</class>
				<resourceModel>emailhistory_mysql4</resourceModel>
			</emailhistory>
			<emailhistory_mysql4>
				<class>SoftwareMedia_EmailHistory_Model_Mysql4</class>
				<entities>
					<softwaremedia_emailhistory>
						<table>emailhistory</table>
					</softwaremedia_emailhistory>
				</entities>
			</emailhistory_mysql4>
		</models>    
    	<resources>
            <emailhistory_setup>
                <setup>
                    <module>SoftwareMedia_EmailHistory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </emailhistory_setup>
            <emailhistory_write>
				<connection>
					<use>core_write</use>
				</connection>
			</emailhistory_write>
			<emailhistory_read>
				<connection>
					<use>core_read</use>
				</connection>
			</emailhistory_read>
        </resources> 
        <template>
            <email>
                <blank_email translate="label" module="emailhistory">
                    <label>Blank Email</label>
                    <file>blank.html</file>
                    <type>html</type>
                </blank_email>
            </email>
        </template>
    </global>
</config>
