<?xml version="1.0"?>
<config>
    <modules>
        <AW_Ordertags>
            <version>1.3.2</version><platform>ee</platform>
        </AW_Ordertags>
    </modules>
    <admin>
        <routers>
            <ordertags>
                <use>admin</use>
                <args>
                    <module>AW_Ordertags</module>
                    <frontName>admin_ordertags</frontName>
                </args>
            </ordertags>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Ordertags>
                    <files>
                        <default>AW_Ordertags.csv</default>
                    </files>
                </AW_Ordertags>
            </modules>
        </translate>
        <menu>
            <sales>
                <children>
                    <ordertags translate="title" module="ordertags">
                        <title>Order Tags</title>
                        <sort_order>15</sort_order>
                        <children>
                            <managetags translate="title">
                                <title>Manage Tags</title>
                                <sort_order>10</sort_order>
                                <action>ordertags/adminhtml_managetags/</action>
                            </managetags>
                            <settings translate="title">
                                <title>Settings</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/system_config/edit/section/ordertags</action>
                            </settings>
                        </children>
                    </ordertags>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <ordertags module="ordertags">
                                    <title>Order Tags</title>
                                    <children>
                                        <managetags translate="title">
                                            <title>Manage Tags</title>
                                            <action>ordertags/adminhtml_managetags/</action>
                                        </managetags>
                                        <settings translate="title">
                                            <title>Settings</title>
                                            <action>adminhtml/system_config/edit/section/ordertags</action>
                                        </settings>
                                    </children>
                                </ordertags>
                            </children>
                        </sales>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordertags>
                                            <title>aheadWorks - Order Tags Configuration</title>
                                        </ordertags>
                                    </children>
                                </config>
                            </children>
                        </system>

                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ordertags>
                    <file>aw_ordertags.xml</file>
                </ordertags>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ordertags>
                <class>AW_Ordertags_Block</class>
            </ordertags>
            <adminhtml>
                <rewrite>
                </rewrite>
                <drewrite>
                    <sales_order_grid>AW_Ordertags_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </drewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ordertags>
                <class>AW_Ordertags_Helper</class>
            </ordertags>
        </helpers>
        <models>
            <ordertags>
                <class>AW_Ordertags_Model</class>
                <resourceModel>ordertags_mysql4</resourceModel>
            </ordertags>
            <ordertags_mysql4>
                <class>AW_Ordertags_Model_Mysql4</class>
                <entities>
                    <managetags>
                        <table>aw_ordertags_tags</table>
                    </managetags>
                    <ordertotag>
                        <table>aw_ordertags_ot</table>
                    </ordertotag>
                </entities>
            </ordertags_mysql4>
        </models>
        <resources>
            <ordertags_setup>
                <setup>
                    <module>AW_Ordertags</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordertags_setup>
            <ordertags_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordertags_write>
            <ordertags_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordertags_read>
        </resources>
        <events>
            <aw_collpur_deal_status_changed>
                <observers>
                    <order_status_observer>
                        <type>singleton</type>
                        <class>ordertags/observer</class>
                        <method>dealStatusChanged</method>
                    </order_status_observer>
                </observers>
            </aw_collpur_deal_status_changed>
            <sales_order_save_after>
                <observers>
                    <order_status_observer>
                        <type>singleton</type>
                        <class>ordertags/observer</class>
                        <method>orderStatusChanged</method>
                    </order_status_observer>
                </observers>
            </sales_order_save_after>
            <controller_action_predispatch>
                <observers>
                    <controllerpredispatch>
                        <type>singleton</type>
                        <class>ordertags/observer</class>
                        <method>pageLoadBefore</method>
                    </controllerpredispatch>
                </observers>
            </controller_action_predispatch>
        </events>
        <template>
            <email>
                <new_tag translate="label" module="ordertags">
                    <label>New Tag</label>
                    <file>tag.html</file>
                    <type>html</type>
                </new_tag>
            </email>
        </template>
    </global>
</config>