<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SoftwareMedia_Ubervisibility>
			<version>0.1.0</version>
		</SoftwareMedia_Ubervisibility>
	</modules>
	<global>
		<helpers>
			<SoftwareMedia_Ubervisibility>
				<class>SoftwareMedia_Ubervisibility_Helper_Api</class>
			</SoftwareMedia_Ubervisibility>
		</helpers>
		<resources>
			<SoftwareMedia_Ubervisibility_setup>
				<setup>
					<module>SoftwareMedia_Ubervisibility</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</SoftwareMedia_Ubervisibility_setup>
		</resources>

		<crontab>
			<jobs>
				<SoftwareMedia_Ubervisibility_Update>
					<schedule>
						<cron_expr>0 1 * * *</cron_expr>
					</schedule>
					<run>
						<model>ubervisibility/observer::updateProduct</model>
					</run>
				</SoftwareMedia_Ubervisibility_Update>
			</jobs>
		</crontab>
	</global>
</config>
