<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SoftwareMedia_Ubervisibility>
			<version>0.1.11</version>
		</SoftwareMedia_Ubervisibility>
	</modules>
	<global>
		<helpers>
			<SoftwareMedia_Ubervisibility>
				<class>SoftwareMedia_Ubervisibility_Helper_Api</class>
			</SoftwareMedia_Ubervisibility>
		</helpers>
		<resources>
			<SoftwareMedia_Ubervisibility_setup>
				<setup>
					<module>SoftwareMedia_Ubervisibility</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</SoftwareMedia_Ubervisibility_setup>
		</resources>
		<models>
			<ubervisibility>
				<class>SoftwareMedia_Ubervisibility_Model</class>
			</ubervisibility>
		</models>
	</global>
	<crontab>
		<jobs>
			<SoftwareMedia_Ubervisibility>
				<schedule>
					<cron_expr>*/20 0,1,23,22,16,15,14,13,12 * * *</cron_expr>
				</schedule>
				<run>
					<model>ubervisibility/observer::updateProduct</model>
				</run>
			</SoftwareMedia_Ubervisibility>
			<SoftwareMedia_Ubervisibility_Retrieve_1>
				<schedule>
					<cron_expr>10 18 * * *</cron_expr>
				</schedule>
				<run>
					<model>ubervisibility/observer::retrieveProducts1</model>
				</run>
			</SoftwareMedia_Ubervisibility_Retrieve_1>
			<SoftwareMedia_Ubervisibility_Retrieve_2>
				<schedule>
					<cron_expr>10 18 * * *</cron_expr>
				</schedule>
				<run>
					<model>ubervisibility/observer::retrieveProducts2</model>
				</run>
			</SoftwareMedia_Ubervisibility_Retrieve_2>
			<SoftwareMedia_Ubervisibility_Retrieve_3>
				<schedule>
					<cron_expr>10 19 * * *</cron_expr>
				</schedule>
				<run>
					<model>ubervisibility/observer::retrieveProducts3</model>
				</run>
			</SoftwareMedia_Ubervisibility_Retrieve_3>
			<SoftwareMedia_Ubervisibility_Retrieve_4>
				<schedule>
					<cron_expr>10 20 * * *</cron_expr>
				</schedule>
				<run>
					<model>ubervisibility/observer::retrieveProducts4</model>
				</run>
			</SoftwareMedia_Ubervisibility_Retrieve_4>
			<SoftwareMedia_Ubervisibility_Retrieve_5>
				<schedule>
					<cron_expr>10 21 * * *</cron_expr>
				</schedule>
				<run>
					<model>ubervisibility/observer::retrieveProducts5</model>
				</run>
			</SoftwareMedia_Ubervisibility_Retrieve_5>
		</jobs>
	</crontab>
</config>
