
.software .cpsubholder{
    margin: 0 auto;
	text-align: left !important;
}
.level0 .software {
	text-align: center !important;
}
.software .categories-menu {
    width: 42% !important;
}

#nav li:first-child.level-top .software .categories-menu {
    width: 24% !important;
}