.questions-list-container {
	margin: 15px 0;
}

.wizard_static_side {
	width: 30%;
	float: right;	
	  margin: 15px 0;
}

.questions-list-container h2 {
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 0px;
}
.questions-list-container .question-title {
		font-size: 14px;
	
}
.questions-list-container h4 {
	font-size: 16px;
	margin-left: 20px;
	margin-bottom: 5px;
}
	.questions-list-container h4 a {
		text-decoration: none;
		display: inline-block;
		width: 200px;
		padding: 4px 6px;
		background: #f8f8f8;
		border: 1px solid #e5e5e5;
	}
		.questions-list-container h4 a .check {
			display: inline-block; width: 12px; height: 12px;
			border: 1px solid #e5e5e5;
			border-radius: 3px;
			margin-right: 8px;
			background: #fff;
			
		}
	.questions-list-container h4 a:hover {
		background: #e9e9e9;
		border: 1px solid #e9e9e9;
	}
	.questions-list-container h4 a:hover .check {
		
	}
.questions-list-container .answers {
	margin-top: 5px;
	padding-top: 5px;
}
.questions-list-container .products {
	clear: both;
	margin-bottom: 15px;
}
.questions-list-container .btn-add span span,.questions-list-container .btn-add {
	background: #CC6731 !important;
	font-weight: bold !important;
	margin-right: 8px;
	color: #fff !important;
}
.questions-list-container .products .product {
	width: 340px;
	float: left;
	margin-right: 20px;
}

.softwaremedia-wizard-wizard-view .std {
	font-family: 'Carrois Gothic', 'Duru Sans',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.question-list-item .title-orange {
	margin-bottom: 15px;
	background: none !important;
}
.question-list-item .title-orange h3 { margin-left: 0 !important; padding-left: 0 !important; }
.questions-list-container .prod-title {
margin-top: 5px;
	font-size: 18px;
}
.questions-list-container .back {
	margin-top: 8px;
}
.questions-list-container .msrp {
	font-weight: bold;
	font-size: 16px;
}
.questions-list-container .msrp .save {
	font-weight: normal;
	font-size: 14px;
}
.questions-list-container .strike {
	text-decoration: line-through;
}
.questions-list-container .more-info {
	margin-top : 6px;
}
.questions-list-container .regular-price .price {
	  color: #CE6633;
  font-size: 36px;
  line-height: 36px;
}