.questions-list-container {

	margin: 15px auto;
}

.questions-list-container .products {
	clear: both;
}

.questions-list-container .products .product {
	width: 280px;
	float: left;
	margin-right: 20px;
}

.softwaremedia-wizard-wizard-view .std {
	font-family: 'Carrois Gothic', 'Duru Sans',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.question-list-item .title-orange {
	margin-bottom: 15px;
}