<?xml version="1.0"?>
<config>
    <modules>
        <OCM_Page>
            <version>0.1.0</version>
        </OCM_Page>
    </modules>
    <global>
        <blocks>
            <ocm_page>
                <class>OCM_Catalog_Block</class>
            </ocm_page>
            <page>
                <rewrite>
                    <html_header>OCM_Page_Block_Html_Header</html_header>
                </rewrite>
            </page>      
        </blocks>
    </global>
</config>