<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" style="font-family: Open Sans, Helvetica, Arial, sans-serif; background-color:#DDDDDD;">

<!-- Wrapper -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td width="100%" valign="top"  style="padding-top:0px">
		
			<!-- Start Header-->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr><td width="100%" bgcolor="#ffffff">
			<table width="620" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
            
				<tr>
					<td width="100%" bgcolor="#ffffff">

					</td>
				</tr>
			</table><!-- End Header -->
            <table width="100%"><tr><td bgcolor="#cc6731"><div style="line-height: 4px;"> &nbsp;</div></td></tr></table></td></tr></table>
			
           
            
            
			<!-- One Column -->
		  <table width="620"  class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" >
				<tr>
					<td valign="top" style="padding:10px;" bgcolor="#ffffff">
					  <p>Quote <a href="{{var url}}">{{var increment}}</a> has been updated.</p>

<p>New Status: <strong>{{var status}}</strong></p>                       			
					</td>
				</tr>
                                           
		  </table><!-- End One Column -->
                      
            



                
           
               
                 
          
      

			
			

<table width="100%"><tr><td bgcolor="#cc6731"><span style="line-height: 4px;"> &nbsp;</span></td></tr></table><!-- spacer -->




					

	
						
		
	
</table> <!-- End Wrapper -->

</body>