<?xml version="1.0"?>
<config>
    <modules>
        <OCM_Checkout>
            <version>0.1.0</version>
        </OCM_Checkout>
    </modules>
    <global>
        <models>
            <ocm_checkout>
                <class>OCM_Checkout_Model</class>
            </ocm_checkout>
            <checkout>
                <rewrite>
                    <type_onepage>OCM_Checkout_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
                <rewrite>
                    <observer>OCM_Checkout_Model_Checkout_Observer</observer>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <ocm_checkout>
                <class>OCM_Checkout_Block</class>
            </ocm_checkout>
        </blocks>
        <helpers>
            <ocm_checkout>
                <class>OCM_Checkout_Helper</class>
            </ocm_checkout>
        </helpers>
        <resources>
            <ocm_checkout_setup>
                <setup>
                    <module>OCM_Checkout</module>
                </setup>
            </ocm_checkout_setup>
        </resources>
    </global>
    <frontend>
	<secure_url>
		<checkout_cart>/checkout/cart</checkout_cart>
	</secure_url>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <OCM_Checkout before="Mage_Checkout">OCM_Checkout_Checkout</OCM_Checkout>
                    </modules>
                </args>
            </checkout>
            <enterprise_giftcardaccount>
                <use>standard</use>
                <args>
                    <modules>
                        <OCM_Checkout before="Enterprise_GiftCardAccount">OCM_Checkout_GiftCart</OCM_Checkout><!-- Enterprise_GiftCardAccount -->
                    </modules>
                </args>
            </enterprise_giftcardaccount>
        </routers>
    </frontend>
</config>
