<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SoftwareMedia_Reports>
			<version>0.1.0.1</version>
		</SoftwareMedia_Reports>
	</modules>
	<global>
		<resources>
			<SoftwareMedia_Reports_setup>
				<setup>
					<module>SoftwareMedia_Reports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</SoftwareMedia_Reports_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<reports>
				<use>admin</use>
				<args>
					<module>SoftwareMedia_Reports</module>
					<frontname>reports</frontname>
				</args>
			</reports>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<report>
				<children>
					<reports translate="title" module="reports">
						<title>SoftwareMedia</title>
						<children>
							<manage_stock>
								<title>Manage Stock No</title>
								<action>reports/adminhtml_reports</action>
							</manage_stock>
						</children>
					</reports>
				</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<reports translate="title" module="reports">
									<title>SoftwareMedia Reports</title>
									<action>reports/adminhtml_reports</action>
								</reports>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<reports>
					<file>reports.xml</file>
				</reports>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<reports>
				<class>SoftwareMedia_Reports_Model</class>
				<resourceModel>reports</resourceModel>
			</reports>
		</models>
		<resources>
			<reports_setup>
				<setup>
					<module>SoftwareMedia_Reports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</reports_setup>
			<reports_write>
				<connection>
					<use>core_write</use>
				</connection>
			</reports_write>
			<reports_read>
				<connection>
					<use>core_read</use>
				</connection>
			</reports_read>
		</resources>
		<blocks>
			<reports>
				<class>SoftwareMedia_Reports_Block</class>
			</reports>
		</blocks>
		<helpers>
			<reports>
				<class>SoftwareMedia_Reports_Helper</class>
			</reports>
		</helpers>
	</global>
</config>
