<?xml version="1.0"?>
<config>
	<modules>
		<OCM_ChasePaymentTech>
			<version>0.1.9</version>
		</OCM_ChasePaymentTech>
	</modules>

	<global>
		<models>
			<paygate>
				<rewrite>
					<authorizenet_source_cctype>OCM_ChasePaymentTech_Model_Authorizenet_Source_Cctype</authorizenet_source_cctype>
				</rewrite>
			</paygate>
			<chasePaymentTech>
				<class>OCM_ChasePaymentTech_Model</class>
				<resourceModel>chasePaymentTech_mysql4</resourceModel>
			</chasePaymentTech>
			<chasePaymentTech_mysql4>
				<class>OCM_ChasePaymentTech_Model_Mysql4</class>
				<entities>
					<profiles>
						<table>cm_chase_profiles</table>
					</profiles>
				</entities>
			</chasePaymentTech_mysql4>
		</models>

		<blocks>
    	<chasePaymentTech>
       	 <class>OCM_ChasePaymentTech_Block</class>
		</chasePaymentTech>
		<adminhtml>
        <rewrite>
             <customer_edit_tabs>OCM_ChasePaymentTech_Block_Adminhtml_Tabs</customer_edit_tabs>
         </rewrite>
     </adminhtml>
	 </blocks>
		<helpers>
			<chasePaymentTech>
				<class>OCM_ChasePaymentTech_Helper</class>
			</chasePaymentTech>
		</helpers>
		<resources>
			<ocm_chase_setup>
				<setup>
					<module>OCM_ChasePaymentTech</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</ocm_chase_setup>
		</resources>
	</global>
	<frontend>
		<routers>
            <chase>
                <use>standard</use>
                <args>
                    <module>OCM_ChasePaymentTech</module>
                    <frontName>chase</frontName>
                </args>
            </chase>
        </routers>
		<layout>
            <updates>
                <chase>
                    <file>chase_payment.xml</file>
                </chase>
            </updates>
        </layout>
	</frontend>
	<adminhtml>
        <layout>
            <updates>
                <chase>
                    <file>chase_payment.xml</file>
                </chase>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
			<adminhtml>
				<args>
    				<modules>
                        <chase before="Mage_Adminhtml">OCM_ChasePaymentTech_Adminhtml</chase>
    				</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
	<default>
		<payment>
			<chasePaymentTech>
				<active>0</active>
				<model>chasePaymentTech/paymentMethod</model>
			</chasePaymentTech>
		</payment>
	</default>
</config>
