<?xml version="1.0"?>
<config>
    <modules>
       <OCM_ChasePaymentTech>
          <version>1.0</version>
       </OCM_ChasePaymentTech>
    </modules>
 
    <global>
        <models>
            <chasePaymentTech>
                <class>OCM_ChasePaymentTech_Model</class>
            </chasePaymentTech>
        </models>
 
 	    
		<helpers>
            <chasePaymentTech>
                <class>OCM_ChasePaymentTech_Helper</class>
            </chasePaymentTech>
        </helpers>
    </global>
    
    <default>
        <payment>
            <chasePaymentTech>
                <active>0</active>
                <model>chasePaymentTech/paymentMethod</model>
            </chasePaymentTech>
        </payment>
    </default>
</config>
