<?xml version="1.0"?>
<config>
    <modules>
        <OCM_Testimonial>
            <version>0.1.1</version>
        </OCM_Testimonial>
    </modules>
    <frontend>
        <routers>
            <testimonial>
                <use>standard</use>
                <args>
                    <module>OCM_Testimonial</module>
                    <frontName>testimonial</frontName>
                </args>
            </testimonial>
        </routers>
    </frontend>
    <global>
        <models>
            <ocm_testimonial>
                <class>OCM_Testimonial_Model</class>
                <resourceModel>ocm_testimonial_mysql4</resourceModel>
            </ocm_testimonial>
            <ocm_testimonial_mysql4>
                <class>OCM_Testimonial_Model_Mysql4</class>
                <entities>
                    <testimonial>
                        <table>testimonial</table>
                    </testimonial>
                </entities>
            </ocm_testimonial_mysql4>
        </models>
        <resource>
            <ocm_testimonial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ocm_testimonial_write>
            <ocm_testimonial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ocm_testimonial_read>
        </resource>
        <blocks>
            <ocm_testimonial>
                <class>OCM_Testimonial_Block</class>
            </ocm_testimonial>
        </blocks>
        <helpers>
            <ocm_testimonial>
                <class>OCM_Testimonial_Helper</class>
            </ocm_testimonial>
        </helpers>
        <resources>
            <ocm_testimonial_setup>
                <setup>
                    <module>OCM_Testimonial</module>
                </setup>
            </ocm_testimonial_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <OCM_Testimonial before="Mage_Adminhtml">OCM_Testimonial_Adminhtml</OCM_Testimonial>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ocm_testimonial>
                    <file>enterprise/testimonial.xml</file>
                </ocm_testimonial>
            </updates>
        </layout>
    </adminhtml>
</config>