<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SoftwareMedia_Swmreports>
			<version>0.1.0.7</version>
		</SoftwareMedia_Swmreports>
	</modules>
	<global>
		<resources>
			<SoftwareMedia_Swmreports_setup>
				<setup>
					<module>SoftwareMedia_Swmreports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</SoftwareMedia_Swmreports_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<swmreports>
				<use>admin</use>
				<args>
					<module>SoftwareMedia_Swmreports</module>
					<frontName>swmreports</frontName>
				</args>
			</swmreports>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<report>
				<children>
					<swmreports translate="title" module="swmreports">
						<title>SoftwareMedia</title>
						<children>
							<manage_stock>
								<title>Manage Stock No</title>
								<action>swmreports/adminhtml_managestock</action>
							</manage_stock>
							<swmreports_peachtree>
								<title>PT Compare</title>
								<action>swmreports/adminhtml_peachtree</action>
							</swmreports_peachtree>
							<outofstock>
								<title>Out of Stock</title>
								<action>swmreports/adminhtml_outofstock</action>
							</outofstock>
							<coupon>
								<title>Coupon</title>
								<action>swmreports/adminhtml_coupon</action>
							</coupon>
							<customernote>
								<title>CSSR Detailed Stats</title>
								<action>swmreports/adminhtml_customernote</action>
							</customernote>
							<customernoteorder>
								<title>CSSR Detailed Order</title>
								<action>swmreports/adminhtml_customernoteorder</action>
							</customernoteorder>
							<noteoverview>
								<title>CSSR Overview</title>
								<action>swmreports/adminhtml_noteoverview</action>
							</noteoverview>
							<customerratings>
								<title>CSSR Ratings</title>
								<action>swmreports/adminhtml_customerratings</action>
							</customerratings>
						</children>
					</swmreports>
				</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<swmreports translate="title" module="swmreports">
									<title>SoftwareMedia Reports</title>
									<children>
										<manage_stock>
											<title>Manage Stock No</title>
											<action>swmreports/adminhtml_managestock</action>
										</manage_stock>
										<swmreports_peachtree>
											<title>PT Compare</title>
											<action>swmreports/adminhtml_peachtree</action>
										</swmreports_peachtree>
										<outofstock>
											<title>Out of Stock</title>
											<action>swmreports/adminhtml_outofstock</action>
										</outofstock>
										<customernoteorder>
											<title>Customer Notes Order</title>
											<action>swmreports/adminhtml_customernoteorder</action>
										</customernoteorder>
										<customernote>
											<title>Customer Notes Detailed</title>
											<action>swmreports/adminhtml_customernote</action>
										</customernote>
										<noteoverview>
											<title>Customer Notes Overview</title>
											<action>swmreports/adminhtml_noteoverview</action>
										</noteoverview>
										<customerratings>
											<title>Customer Ratings Overview</title>
											<action>swmreports/adminhtml_customerratings</action>
										</customerratings>
										<coupon>
											<title>Coupon</title>
											<action>swmreports/adminhtml_coupon</action>
										</coupon>
									</children>
								</swmreports>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<managestock>
					<file>swmreports/managestock.xml</file>
				</managestock>
				<swmreports_peachtree>
					<file>swmreports/peachtree_report.xml</file>
				</swmreports_peachtree>
				<outofstock>
					<file>swmreports/outofstock.xml</file>
				</outofstock>
				<customernote>
					<file>swmreports/customernote.xml</file>
				</customernote>
				<customernoteorder>
					<file>swmreports/customernoteorder.xml</file>
				</customernoteorder>
				<noteoverview>
					<file>swmreports/noteoverview.xml</file>
				</noteoverview>
				<customerratings>
					<file>swmreports/customerratings.xml</file>
				</customerratings>
				<coupon>
					<file>swmreports/coupon.xml</file>
				</coupon>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<resources>
			<swmreports_setup>
				<setup>
					<module>SoftwareMedia_Swmreports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</swmreports_setup>
			<swmreports_write>
				<connection>
					<use>core_write</use>
				</connection>
			</swmreports_write>
			<swmreports_read>
				<connection>
					<use>core_read</use>
				</connection>
			</swmreports_read>
		</resources>
		<blocks>
			<swmreports>
				<class>SoftwareMedia_Swmreports_Block</class>
			</swmreports>
			<managestock>
				<class>SoftwareMedia_Swmreports_Block</class>
			</managestock>
			<swmreports_peachtree>
				<class>SoftwareMedia_Swmreports_Block</class>
			</swmreports_peachtree>
			<outofstock>
				<class>SoftwareMedia_Swmreports_Block</class>
			</outofstock>
			<customernote>
				<class>SoftwareMedia_Swmreports_Block</class>
			</customernote>
			<customerratings>
				<class>SoftwareMedia_Swmreports_Block</class>
			</customerratings>
			<noteoverview>
				<class>SoftwareMedia_Swmreports_Block</class>
			</noteoverview>
			<coupon>
				<class>SoftwareMedia_Swmreports_Block</class>
			</coupon>
		</blocks>
		<helpers>
			<swmreports>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</swmreports>
			<managestock>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</managestock>
			<swmreports_peachtree>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</swmreports_peachtree>
			<outofstock>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</outofstock>
			<customernote>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</customernote>
			<coupon>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</coupon>
		</helpers>
	</global>
</config>