<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SoftwareMedia_Swmreports>
			<version>0.1.0.1</version>
		</SoftwareMedia_Swmreports>
	</modules>
	<global>
		<resources>
			<SoftwareMedia_Swmreports_setup>
				<setup>
					<module>SoftwareMedia_Swmreports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</SoftwareMedia_Swmreports_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<reports>
				<use>admin</use>
				<args>
					<module>SoftwareMedia_Swmreports</module>
					<frontname>swmreports</frontname>
				</args>
			</reports>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<report>
				<children>
					<swmreports translate="title" module="swmreports">
						<title>SoftwareMedia</title>
						<children>
							<manage_stock>
								<title>Manage Stock No</title>
								<action>swmreports/adminhtml_swmreports</action>
							</manage_stock>
						</children>
					</swmreports>
				</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<swmreports translate="title" module="swmreports">
									<title>SoftwareMedia Reports</title>
									<children>
										<manage_stock>
											<title>Manage Stock No</title>
											<action>swmreports/adminhtml_swmreports</action>
										</manage_stock>
									</children>
								</swmreports>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<swmreports>
					<file>swmreports.xml</file>
				</swmreports>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<swmreports>
				<class>SoftwareMedia_Swmreports_Model</class>
				<resourceModel>swmreports</resourceModel>
			</swmreports>
		</models>
		<resources>
			<swmreports_setup>
				<setup>
					<module>SoftwareMedia_Swmreports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</swmreports_setup>
			<swmreports_write>
				<connection>
					<use>core_write</use>
				</connection>
			</swmreports_write>
			<swmreports_read>
				<connection>
					<use>core_read</use>
				</connection>
			</swmreports_read>
		</resources>
		<blocks>
			<swmreports>
				<class>SoftwareMedia_Swmreports_Block</class>
			</swmreports>
		</blocks>
		<helpers>
			<swmreports>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</swmreports>
		</helpers>
	</global>
</config>
