<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<SoftwareMedia_Swmreports>
			<version>0.1.0.7</version>
		</SoftwareMedia_Swmreports>
	</modules>
	<global>
		<resources>
			<SoftwareMedia_Swmreports_setup>
				<setup>
					<module>SoftwareMedia_Swmreports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</SoftwareMedia_Swmreports_setup>
		</resources>
	</global>
	<admin>
		<routers>
			<swmreports>
				<use>admin</use>
				<args>
					<module>SoftwareMedia_Swmreports</module>
					<frontName>swmreports</frontName>
				</args>
			</swmreports>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<report>
				<children>
					<swmreports translate="title" module="swmreports">
						<title>SoftwareMedia</title>
						<children>
							<manage_stock>
								<title>Manage Stock No</title>
								<action>swmreports/adminhtml_managestock</action>
							</manage_stock>
							<swmreports_peachtree>
								<title>PT Compare</title>
								<action>swmreports/adminhtml_peachtree</action>
							</swmreports_peachtree>
						</children>
					</swmreports>
				</children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<report>
							<children>
								<swmreports translate="title" module="swmreports">
									<title>SoftwareMedia Reports</title>
									<children>
										<manage_stock>
											<title>Manage Stock No</title>
											<action>swmreports/adminhtml_managestock</action>
										</manage_stock>
										<swmreports_peachtree>
											<title>PT Compare</title>
											<action>swmreports/adminhtml_peachtree</action>
										</swmreports_peachtree>
									</children>
								</swmreports>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<managestock>
					<file>managestock.xml</file>
				</managestock>
				<swmreports_peachtree>
					<file>peachtree_report.xml</file>
				</swmreports_peachtree>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<resources>
			<swmreports_setup>
				<setup>
					<module>SoftwareMedia_Swmreports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</swmreports_setup>
			<swmreports_write>
				<connection>
					<use>core_write</use>
				</connection>
			</swmreports_write>
			<swmreports_read>
				<connection>
					<use>core_read</use>
				</connection>
			</swmreports_read>
		</resources>
		<blocks>
			<swmreports>
				<class>SoftwareMedia_Swmreports_Block</class>
			</swmreports>
			<managestock>
				<class>SoftwareMedia_Swmreports_Block</class>
			</managestock>
			<swmreports_peachtree>
				<class>SoftwareMedia_Swmreports_Block</class>
			</swmreports_peachtree>
		</blocks>
		<helpers>
			<swmreports>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</swmreports>
			<managestock>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</managestock>
			<swmreports_peachtree>
				<class>SoftwareMedia_Swmreports_Helper</class>
			</swmreports_peachtree>
		</helpers>
	</global>
</config>